button {
    cursor: pointer;
    padding: 1rem 3rem;
    background-color: orange;
    border-radius: 3rem;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 1.1rem;
    width: fit-content;
    outline: none;
    border: none;
}